@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
.nav-container
{
    background-color: black;
    color: white;
    display: flex;
    gap: 32px;
    padding: 18px;
    align-items: center;
    
}
.navegacao
{
    font-size: 24px;
    display: flex;
    gap: 40px;    
}
.img-cabecalho
{
    
}
a:link{
    color: white;
}
a:visited
{
    color: white;
}
a:nth-child(1)
{
    margin-left: 250px;
}
a:nth-last-child(-n+3)
{
    font-size: 32px;
}
a:nth-last-child(3)
{
    margin-left: 260px;
}
.container-main
{
    position: relative;
}
.texto-main
{
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 64px;
    text-shadow: 1px 6px 6px rgba(255, 255, 255, 0.62);
    position: absolute;
    left: 20%;
    top: 22%;
}
.img-background-main
{
   width: 100%;
}
.text-h2
{
    font-size: 42px;
    font-family: 'Bangers', cursive;
    text-align: center;
}
.container-section2
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-section3
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-section-saal
{
    width: 263px;
    height: 120px;
}
.img-section-guardian
{
    width: 286px;
    height: 170px;
}
.main-text-section
{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    gap: 24%;
    margin: -3% 4%;
}
.texto-main2
{
    margin-left: -20%;
}