@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    background-color: #CCA79B;
}
.nav-bar
{
    background-color: black;
    color: white;
    padding: 18px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
    cursor: pointer;
}

.ancoras {
    display: flex;
    gap: 120px;
}

a {
    text-decoration: none;
    font-size: 38px;
}

a:visited, a:link, a:active {
    color: white;
}

.texto-main
{
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 64px;
    text-shadow: 1px 6px 6px rgba(255, 255, 255, 0.62);
    position: relative;
    left: 20%;
    top: 22%;
}
.img-background-main
{
   width: 100%;
}
.text-h2
{
    font-size: 42px;
    font-family: 'Bangers', cursive;
    text-align: center;
}
.container-section2
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-section3
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-section-saal
{
    width: 263px;
    height: 120px;
}
.img-section-guardian
{
    width: 286px;
    height: 170px;
}
.main-text-section
{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    gap: 24%;
    margin: -3% 4%;
}
.texto-main2
{
    margin-left: -20%;
}